{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/css.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/faf52e132a.js" crossorigin="anonymous"></script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" >
    <title>Student sistem</title>
    <link rel = "icon" href = "{% static 'image/logo.png' %}" type = "image/icon type">
    
</head>
{% include 'vezba/header.html' %}
<body>
    
    {% block body %}
    
   {% include 'vezba/base.html' %}


    {% endblock body %}
    <script src="{% static 'js/script.js' %}"></script>
    
</body>
</html>